[submodule "hardware/esp8266com/esp8266"]
	path = hardware/esp8266com/esp8266
	url = https://github.com/liebman/Arduino.git
        branch = bear_ssl_http
[submodule "libraries/DLog"]
	path = libraries/DLog
	url = https://github.com/liebman/DLog.git
[submodule "libraries/WiFiManager"]
	path = libraries/WiFiManager
	url = https://github.com/tzapu/WiFiManager.git
	branch = development
[submodule "libraries/ArduinoJson"]
	path = libraries/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
