[submodule "hardware/esp8266com/esp8266"]
	path = hardware/esp8266com/esp8266
	url = https://github.com/liebman/Arduino.git
	branch = http_update_follow_redirects
[submodule "libraries/WiFiManager"]
	path = libraries/WiFiManager
	url = https://github.com/tzapu/WiFiManager.git
	branch = development
[submodule "libraries/ArduinoJson"]
	path = libraries/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "libraries/ESP8266Audio"]
	path = libraries/ESP8266Audio
	url = https://github.com/earlephilhower/ESP8266Audio.git
[submodule "libraries/ESP8266SAM"]
	path = libraries/ESP8266SAM
	url = https://github.com/earlephilhower/ESP8266SAM.git
[submodule "libraries/ESP8266_Spiram"]
	path = libraries/ESP8266_Spiram
	url = https://github.com/Gianbacchio/ESP8266_Spiram.git
[submodule "hardware/espressif/esp32"]
	path = hardware/espressif/esp32
	url = https://github.com/espressif/arduino-esp32.git
[submodule "libraries/Syslog"]
	path = libraries/Syslog
	url = https://github.com/arcao/Syslog.git
