.metadata
.DS_Store
*/sloeber.ino.cpp
*/.ino.cpp
*/.project
*/.cproject
*/.settings
*/.pydevproject
*/Release
*/Debug
*/libraries
*/core
*.bak
*-bak
spec.d
/RemoteSystemsTempFiles
/tools
/ESPButton/data
